/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head{
  margin: 20px 40px;
}

.index{
  margin-left: 40px;
  display: flex;
}

.index-title{
  flex-direction: column;
  display: flex;
}


.index-title-item{
  text-align: center;
}

.title{
  margin: 2px;
}

.index-body{
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.body{
  margin: 2px;
}

.index-body-item{
  text-align: center;
}

.index-item-box{
  padding-top: 20px;
}

.index-item1{
  list-style: none;
  display: inline-block;
  margin: 2px;
}

.new-box{
  display: inline-block;
  margin: 20px 40px;
}

.new-item{
  margin-top: 4px;
}

.show-title{
  margin: 50px 100px;
  display: flex;
}

.show-title-item{
  margin-right: 10px;
}

.show-body{
  margin-bottom: 50px;
  margin-left: 100px;
  display: flex;
}

.show-body-item{
  margin-right: 10px;
}

.show-item{
  margin-left: 40px;
  display: flex;
}

.show-item p{
  margin: 0 10px;
}

.edit{
  margin: 50px;
  display: inline-block;
}

.edit-item{
  display: flex;
}

.edit-item p{
  margin: 0 10px;
}